{%- if product != blank -%}
  <div class="price">
    {%- if product.compare_at_price_min > product.price_min -%}
      <span class="price__sale">{{ product.price_min | money }}</span>
      <span class="price__compare" aria-hidden="true">{{ product.compare_at_price_min | money }}</span>
    {%- else -%}
      <span class="price__current">{{ product.price_min | money }}</span>
    {%- endif -%}
  </div>
{%- endif -%}
